@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.rdp-vhidden {
  @apply hidden;
}


.tinymce-content {
  @apply font-sans text-base text-gray-800 leading-relaxed md:p-4;

  /* Specific styles for headings */
}

.tinymce-content h1 {
  @apply text-4xl font-bold mt-8 mb-4 text-black;
}

.tinymce-content h2 {
  @apply text-3xl font-bold mt-7 mb-4 text-black;
}

.tinymce-content h3 {
  @apply text-2xl font-bold mt-6 mb-3 text-black;
}

.tinymce-content h4 {
  @apply text-xl font-bold mt-5 mb-3 text-black;
}

.tinymce-content h5 {
  @apply text-lg font-bold mt-4 mb-2 text-black;
}

.tinymce-content h6 {
  @apply font-bold mt-3 mb-2 text-black;
}

/* Styling for paragraphs */
.tinymce-content p {
  @apply mb-4;
}

/* Styling for lists */
.tinymce-content ul,
.tinymce-content ol {
  @apply my-4 pl-8;
}

.tinymce-content li {
  @apply mb-2;
}

/* Styling for blockquotes */
.tinymce-content blockquote {
  @apply border-l-4 border-gray-300 italic text-gray-600 bg-gray-100 p-4 my-4 rounded;
}

/* Styling for links */
.tinymce-content a {
  @apply text-blue-500 underline;
}

.tinymce-content a:hover {
  @apply text-red-600 underline;
}

/* Styling for images */
.tinymce-content img {
  @apply max-w-full h-auto my-4 rounded-lg shadow-sm;
}

/* Styling for tables */
.tinymce-content table {
  @apply w-full border-collapse my-4 bg-white shadow-md;
}

.tinymce-content th,
.tinymce-content td {
  @apply border border-gray-300 p-2 text-left;
}

.tinymce-content th {
  @apply bg-gray-200;
}

/* Styling for code */
.tinymce-content code {
  @apply bg-gray-200 p-1 font-mono rounded;
}

.tinymce-content pre {
  @apply bg-gray-200 p-4 overflow-auto rounded my-4 font-mono;
}

/* Styling for horizontal rules */
.tinymce-content hr {
  @apply border-t-2 border-gray-300 my-8;
}

/* Styling for emphasis and strong */
.tinymce-content em {
  @apply italic;
}

.tinymce-content strong {
  @apply font-bold;
}

/* Styling for subscript and superscript */
.tinymce-content sub {
  @apply align-baseline text-sm;
}

.tinymce-content sup {
  @apply align-top text-sm;
}

/* Styling for address */
.tinymce-content address {
  @apply mb-4;
}

/* Styling for captions */
.tinymce-content figcaption {
  @apply text-center text-sm text-gray-600 mt-2;
}

/* Styling for figure */
.tinymce-content figure {
  @apply table max-w-full text-center my-4;
}

/* Styling for inline elements */
.tinymce-content b {
  @apply font-bold;
}

.tinymce-content i {
  @apply italic;
}

.tinymce-content u {
  @apply underline;
}

/* Styling for highlights */
.tinymce-content mark {
  @apply bg-yellow-200 text-black;
}

/* Styling for videos */
.tinymce-content video {
  @apply max-w-full my-4;
}

/* Styling for audio */
.tinymce-content audio {
  @apply max-w-full my-4;
}

/* Styling for iframes */
.tinymce-content iframe {
  @apply max-w-full my-4 border-none;
}

/* Styling for details and summary */
.tinymce-content details {
  @apply my-4 p-4 bg-gray-100 rounded;
}

.tinymce-content summary {
  @apply font-bold cursor-pointer;
}

/* Styling for progress bars */
.tinymce-content progress {
  @apply w-full h-4 my-4;
}

/* Styling for meters */
.tinymce-content meter {
  @apply w-full h-4 my-4;
}